
body {
    font-family: "Lato", sans-serif;
    background-color: #ddd;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
}

.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  
}

.sidebar a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


.topnav {
    overflow: hidden;
    width: 100%;
    background-color: #111;
    text-align: center;
}

.topnav h1 {
    display: inline-block;
    text-align: center;
    padding: 0px 0px;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    background-color: #111fff;
}

.bg-topnav {
    background-color: #111fff;
}

.bg-topnav p{
    background-color: #111;
}

img {
    max-width: 50%;
    height: 100%;
}

/* Breadcrumb */
.breadcrumb{
  background:#cccccc;
  color:#333333;
}

.breadcrumb a{
  color:#333333;
}

.main-color-bg {
    background-color: #343a40 !important;
    border-color: #343a40 !important;
    color: #ffffff !important;
}
